---
import Greetings from '../components/home/Greetings.astro';
import MainVideo from '../components/home/MainVideo.astro';
import Sections from '../components/home/Sections.astro';
import Layout from '../layouts/Layout.astro';
import Artworks from '../components/home/Artworks.astro';
import SectionDividerFlower from '../components/home/SectionDividerFlower.astro';
import { Posts } from '../stores/posts.store';
import { webCompany } from '../stores/companyWeb.store';

const categories = ['All', 'UI/UX', 'WEB', 'BRANDING']
---

<Layout title="Margarita Velarde">
	<main>
		<MainVideo videoUrl={webCompany.landing.videoUrl} />
		<Greetings message={webCompany.landing.greetingsMessage} />
		<Sections categories={categories}/>
		<Artworks posts={Posts}/>
		<SectionDividerFlower message={webCompany.landing.moreWorksMessage}/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem 1rem 1rem 1rem;
		max-width: calc(100% - 8rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
