---
import Greetings from '../components/home/Greetings.astro';
import MainVideo from '../components/home/MainVideo.astro';
import Sections from '../components/home/Sections.astro';
import Layout from '../layouts/Layout.astro';
import Artworks from '../components/home/Artworks.astro';
import SectionDividerFlower from '../components/home/SectionDividerFlower.astro';
import { getAllPosts } from '../stores/posts.store';
import { getCompany } from '../stores/company.store';

const categories = ['All', 'UI/UX', 'WEB', 'BRANDING']
const company = await getCompany()
const postss = await getAllPosts()
---

<Layout company={company}>
	<main>
		<MainVideo videoUrl={company.web.landing.videoUrl} />
		<Greetings message={company.web.landing.greetingsMessage} />
		<Sections categories={categories}/>
		<Artworks posts={postss}/>
		<SectionDividerFlower message={company.web.landing.moreWorksMessage}/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem 1rem 1rem 1rem;
		max-width: calc(100% - 8rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
