---
import Greetings from '../components/home/Greetings.astro';
import MainVideo from '../components/home/MainVideo.astro';
import Sections from '../components/home/Sections.astro';
import Layout from '../layouts/Layout.astro';
import Artworks from '../components/home/Artworks.astro';
import SectionDividerFlower from '../components/home/SectionDividerFlower.astro';
import { Posts } from '../stores/posts.store';

const videoUrl = "https://media.geeksforgeeks.org/wp-content/uploads/20231020155223/Full-Stack-Development-_-LIVE-Classes-_-GeeksforGeeks.mp4"
const greetingsMessage = `Hello, welcome to </br> my garden...`
const categories = ['All', 'UI/UX', 'WEB', 'BRANDING']
const moreWorksMessage = 'See more flowers'
---

<Layout title="Margarita Velarde">
	<main>
		<MainVideo videoUrl={videoUrl} />
		<Greetings message={greetingsMessage} />
		<Sections categories={categories}/>
		<Artworks posts={Posts}/>
		<SectionDividerFlower message={moreWorksMessage}/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem 1rem 1rem 1rem;
		max-width: calc(100% - 8rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
