---
import type { IPost } from '../../stores/posts.store';

interface Props {
	posts: IPost[];
}

const { posts } = Astro.props;

let totalColumns = 1
if(posts.length >= 5){
    totalColumns = 3
}else if(posts.length >= 2){
    totalColumns = 2
}

const postByColumns = Math.ceil(posts.length/totalColumns)
let artworksHtml: string = ''

for(let column = 0; column < totalColumns; column++){
  artworksHtml = artworksHtml + `<div class="basis-1/3"><div class="flex flex-col gap-4">`
  for(let postIndex = column*postByColumns; postIndex < (column+1)*postByColumns; postIndex++){
    const post = posts[postIndex]
    artworksHtml = artworksHtml + `<a href="${post.image.link}">
      <img src="${post.image.source}" alt="${post.image.alt}"/>
    </a>`
  }
  artworksHtml = artworksHtml + `</div></div>`
}
---

<div class="flex flex-row gap-4" set:html={artworksHtml}>
  <!-- <div class="basis-1/3">
    <div class="flex flex-col gap-4">
      <a href={post.image.link}>
        <img src={post.image.source} alt={post.image.alt}/>
      </a>
      <img src="https://images.squarespace-cdn.com/content/v1/554b5e7ce4b0149371f10a93/1694585961473-9LFYG7C05ZQAMH26H8QJ/image-asset.jpeg?format=1000w"/>
      <img src="https://images.squarespace-cdn.com/content/v1/554b5e7ce4b0149371f10a93/1685970999082-ME5LDPJ8ZNCE2GEE3D6R/image-asset.jpeg?format=1000w"/>
    </div>
  </div> -->
</div>