---
import type { IContact, ISns } from '../../stores/company.store';

interface Props {
  title: string
	subtitle: string
  sendLabel: string
  contact: IContact
  sns: ISns[]
}

const { title, subtitle, sendLabel, contact, sns } = Astro.props;
---

<div class="contactContainer">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <img src="/images/contactRightBackground.png"/>
    </div>
    <div class="basis-1/2">
      <div class="contactLeftContainer">
        <div class="flex-row">
          <div class="contactTitle">
            {title}
          </div>
          <div class="contactTitle" style="font-size: 20px; font-weight: 400;">
            {subtitle}
          </div>
        </div>
        <div class="flex flex-row py-8">
          <div class="basis-1/2" style="padding-right: 1rem;">
            <input placeholder="Nombre" type="text"/>
          </div>
          <div class="basis-1/2" style="padding-left: 1rem;">
            <input placeholder="Email" type="text"/>
          </div>
        </div>
        <div class="flex-row pt-8">
          <textarea placeholder="Message" style="width: 100%;"/>
        </div>
        <div class="flex-row pt-2">
          <button class="sentButton">
            <!-- Send -->
            {sendLabel}
          </button>
        </div>
        <div class="flex flex-row" style="padding-top: 3.5rem;">
          <div class="basis-2/3">
            <div class="contactData" style="text-align: left;">
              {contact.phone}   <a style="padding-inline: 0.75rem;">|</a>   {contact.email}
            </div>
          </div>
          <div class="basis-1/3">
            <div class="contactData" style="text-align: right;">
              {sns?.map((sn) => 
                <a href={sn.url}>&nbsp; {sn.code} &nbsp;</a>
              )}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
input {
  width: 100%;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #878988;
  background-color: #E1F0D7;
  font-size: 15px;
  font-family: Cormorant Upright; 
  font-weight: 500; 
  line-height: 25px;
}
input:focus {
  border-color: #363636;
  color: #363636; 
}

textarea {
  width: 100%;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #878988;
  background-color: #E1F0D7;
  font-size: 15px;
  font-family: Cormorant Upright; 
  font-weight: 500; 
  line-height: 25px;
}
textarea:focus {
  border-color: #363636;
  color: #363636; 
}

.contactData {
  width: 100%; 
  height: 100%; 
  color: #878988; 
  font-size: 15px; 
  font-family: Cormorant Upright; 
  font-weight: 400; 
  line-height: 80px; 
  word-wrap: break-word
}

.sentButton {
  width: 100%; 
  text-align: center;
  color: #56865E; 
  font-size: 25px; 
  font-family: 
  Cormorant Upright; 
  font-weight: 700; 
  line-height: 25px; 
  word-wrap: break-word
}

.contactTitle {
  width: 100%; 
  color: #363636; 
  font-size: 35px; 
  font-family: Cormorant Upright; 
  font-weight: 700; 
  line-height: 25px; 
  word-wrap: break-word
}

.contactLeftContainer {
  padding: 4rem 4rem 0rem 4rem;
}

.contactContainer {
  width: 100%;
  height: 100%;
  background: #E1F0D7
}
</style>